main{
  width: 480px;
  margin: auto;
}

div{
  border: 1px solid black;
  background-color: #999;
  /* float: left; */
  text-align: center;
}

div:nth-child(1){
  height: 75px;
  line-height: 75px;
}

div:nth-child(2){
  height: 150px;
  line-height: 150px;
}

div:nth-child(3), div:nth-child(4){
  height: 125px;
  line-height: 125px;
}

div:nth-child(5), div:nth-child(6), div:nth-child(7), div:nth-child(8){
  width: 50%;
  height: 250px;
  line-height: 250px;
  float: left;
}

div:nth-child(9){
  height: 80px;
  line-height: 80px;
  clear: both;
}


@media only screen and (min-width:768px){
  main{
    width: 960px;
  }

  div:nth-child(1){
    height: 100px;
    line-height: 100px;
  }

  div:nth-child(2){
    height: 600px;
    width: 200px;
    line-height: 600px;
    float: left;
  }

  div:nth-child(3), div:nth-child(4){
    width: 380px;
    height: 200px;
    line-height: 200px;
    float: left;
  }

  div:nth-child(5), div:nth-child(6), div:nth-child(7), div:nth-child(8){
    width: 190px;
    height: 250px;
    line-height: 250px;
  }

  div:nth-child(9){
    width: 760px;
    height: 150px;
    line-height: 150px;
    display: inline-block;
  }
}